* {
    margin: 10px;
    padding: 0px;
}

header{
    background-color: lightgray;
    width: auto;
    height: 100px;
}
nav {
    display: grid;
}

ul,li {
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.mainyu {
    display: flex;
    background-color: darkgray;
    width: 400px;
    height: 300px;
}


.footer {
    padding: 5px;
    background-color: red; 
    font-weight: bold;
    color: white;
}

.apply {
    padding: 5px;
    background-color: blue;
    font-weight: bold;
    color: white;
}

.bawah {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main {
    display: flex;
    
}

th {
    text-align: left;
}

.td1, .td2, .td3, .tdtotal {
    width: 500px;
}

.table1, .table2 {
    width: 300px;
}

.shipping {
    width: 500px;
    margin: 30px;
}
